.pointsContainer{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.1);
}
.pointsTop{
  position: absolute;
  top: 0;
  width: 100%;
  height: 0;
}
.pointsTop::before{
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #DADADA;
}
.pointsTop::after{
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #DADADA;
}
.pointsBottom{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0;
}
.pointsBottom::before{
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #DADADA;
}
.pointsBottom::after{
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #DADADA;
}