.mobileNavBlock{
  position: relative;
  overflow: hidden;
  width: 31px;
  height: 32px;
  cursor: pointer;
  pointer-events: all;
  display: none;
}
.mobileNavBlock>img{
  width: 100%;
  height: 100%;
}

@media (max-width: 1024px) {
  .mobileNavBlock{
    display: block;
  }
}