main{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: flex-start;
  width: 100%;
  height: calc(100vh - 84px - 84px);
  /* pointer-events: none; */
}
.left-part, .center-part, .right-part {
  overflow: hidden;
  height: 100%;
}
.left-part, .right-part{
  width: 365px;
  background-color: #0B0C23;
}
.center-part{
  width: calc(100% - (365px + 365px));
  background-color: transparent;
  position: relative;
  /* pointer-events: none; */
}
.left-part::before, .center-part::before, .right-part::before{
  content: '';
  display: block;
  width: 100%;
  height: 75px;
  background-color: #0B0C23;
  pointer-events: all;
}
.center-part::after{
  content: '';
  display: block;
  width: 100%;
  height: calc(100% - (75px + (48px + 12px) + (33px + 9px) + (10 * (40px + 13px) - 13px)));
  position: absolute;
  bottom: 0;
  background-color: #0B0C23;
  pointer-events: all;
}
.left-part .wraper, .right-part .wraper {
  height: calc(100% - 75px);
}
.left-part .wraper {
  padding-left: 75px;
}
.center-part .wraper{
  height: auto;
  background-color: #0B0C23;
  pointer-events: all;
}
.right-part .wraper {
  padding-left: 62px;
}

.left-part h2, .center-part h2, .right-part h2 {
  width: 100%;
  height: 48px;
  margin-top: 0;
  margin-bottom: 12px;
  font-family: Exo;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 48px;
  color: #ffffff;
  text-transform: uppercase;
  
}
.left-part>h2{
  margin-left: 75px;
}
.center-part>h2{
  margin-bottom: 0;
  background-color: #0B0C23;
}
.right-part>h2{
  margin-left: 62px
}
.center-part>h2:after{
  content: '';
  display: block;
  width: 100%;
  height: 12px;
  background-color: #0B0C23;
}
.table-header{
  width: 100%;
  background-color: #0B0C23;
}
.table-header::after{
  content: '';
  display: block;
  width: 100%;
  height: 9px;
}
.table-header__table{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 33px;
  margin: 0;
  padding-left: 65px;
  padding-right: 0;
  padding-bottom: 9px;
  list-style-type: none;
  background-color: rgba(255, 255, 255, 0.01)
}
.table-header__table>li {
  width: 10%;
  min-width: 75px;
  text-align: center;
  color: #ffffff;
}
.table-header__table>li:nth-of-type(4){
  width: 15%;
  min-width: 60px;
}
.table-header__table>li:last-of-type{
  width: 25%;
}
.sortByBlock{
  list-style-type: none;
  padding: 0;
  width: 215px;
}

@media (max-width: 1440px) {
  .right-part {
    display: none;
  }
  .center-part{
    width: calc(100% - 365px);
  }
  .center-part::after{
    height: calc(100% - (75px + (48px + 12px) + (33px + 9px) + (5 * (40px + 13px) - 13px)));
  }
  .center-part .wraper{
    padding-right: 90px;
  }
  .table-header__table{
    padding-left: 45px;
  }
  .table-header__table>li {
    width: 13%;
    min-width: 70px;
  }
  .table-header__table>li:first-of-type{
    display: none;
  }
  .table-header__table>li:nth-of-type(4){
    width: 10%;
    min-width: 55px;
  }
  .table-header__table>li:last-of-type{
    width: 25%;
  }
}

@media (max-width: 1024px) {
  .center-part::after{
    height: calc(100% - (75px + (48px + 12px) + (33px + 9px) + (3 * (40px + 13px) - 13px)));
  }
  .table-header__table{
    padding-left: 35px;
  }
  .table-header__table>li:nth-of-type(5){
    display: none;
  }
  .table-header__table>li {
    width: 17%;
  }
}

@media (max-width: 895px) {
  .center-part .wraper{
    padding-right: 50px;
  }
  .table-header__table>li:nth-of-type(3){
    display: none;
  }
  .table-header__table>li {
    width: 20%;
  }
  .table-header__table{
    padding-left: 20px;
  }
}

@media (max-width: 768px) {
  main{
    height: calc(100vh - 153px);
  }
  .left-part, .center-part::before, .center-part::after, .center-part .wraper {
    display: none;
  }
  .center-part{
    width: 100%;
    height: 100%;
    
  }
}