.socialNetworkIcon{
  width: 33px;
  height: 33px;
  position: relative;
  margin-right: 12px;
}
.socialNetworkIcon:last-of-type{
  margin-right: 0;
}
.socialNetworkIcon a{
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  pointer-events: all;
}