.basketBlock{
  position: relative;
  width: 21px;
  height: 18px;
  margin-bottom: 10px;
  cursor: pointer;
  pointer-events: all;
}
.basketBlock>img{
  width: 100%;
  height: 100%;
}
.basketCounter{
  width: 7px;
  height: 20px;
  position: absolute;
  top: -8px;
  right: 0;
  background-color: #0B0C23;;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #FFFFFF;
}