.logoBlock{
  list-style-type: none;
  margin-right: 28px;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.logoBlock>li{
  margin-right: 2px;
}
.logoBlock>li:last-of-type{
  margin-right: 0;
}

@media (max-width: 1024px) {
  .logoBlock>li:nth-of-type(1), .logoBlock>li:nth-of-type(2) {
    display: none;
  }
}