.languageBlock{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  pointer-events: all;
}
.languageBlock>img{
  width: 20px;
  height: 20px;
  margin-right: 20px;
}
.languageDescrip{
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-family: Exo;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 48px;
  color: #FFFFFF;
}

@media (max-width: 1024px) {
  .languageBlock{
    display: none;
  }
}