.sortByBlockItem{
  position: relative;
  width: 100%;
  height: 33px;
  margin-bottom: 14px;
  background-color: rgba(255, 255, 255, 0.1);
}
.sortByBlockButton{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  pointer-events: all;
  text-transform: capitalize;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 48px;
  color: #FFFFFF;
}