.productListItem{
  width: 100%;
  height: 40px;
  margin-bottom: 13px;
  cursor: pointer;
  pointer-events: all;
}
.productListItem:last-of-type{
  margin-bottom: 0;
}
.productListItem:nth-of-type(2n + 1) {
  background-color: rgba(255, 255, 255, 0.1)
}
.productListItem:nth-of-type(2n) {
  background-color: rgba(255, 255, 255, 0.05)
}
.desktopContainer{
  width: 100%;
  height: 100%;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.mobileContainer{
  display: none;
}
.desktopContainer>li{
  width: 10%;
  min-width: 75px;
  text-align: center;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #C4C4C4;
}
.desktopContainer>li:nth-of-type(1){
  overflow: hidden;
  width: 65px;
  min-width: 45px;
  max-width: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
.desktopContainer>li:nth-of-type(5){
  width: 15%;
  min-width: 60px;
}
.desktopContainer>li:last-of-type{
  width: 25%;
}

@media (max-width: 1440px) {
  .desktopContainer>li {
    width: 13%;
    min-width: 70px;
  }
  .desktopContainer>li:nth-of-type(1){
    width: 55px;
    min-width: 45px;
  }
  .desktopContainer>li:nth-of-type(2){
    display: none;
  }
  .desktopContainer>li:nth-of-type(5){
    width: 10%;
    min-width: 55px;
  }
  .desktopContainer>li:last-of-type{
    width: 25%;
  }
}

@media (max-width: 1024px) {
  .desktopContainer>li {
    width: 17%;
    min-width: 70px;
  }
  .desktopContainer>li:nth-of-type(6){
    display: none;
  }
  .desktopContainer>li:nth-of-type(1){
    width: 45px;
    min-width: 30px;
  }
}

@media (max-width: 895px) {
  .desktopContainer>li:nth-of-type(4){
    display: none;
  }
  .desktopContainer>li {
    width: 20%;
  }
  .desktopContainer>li:nth-of-type(1){
    width: 30px;
    min-width: 20px;
  }
}

@media (max-width: 768px) {
  .productListItem{
    width: calc(100vw - 62px);
    height: calc(100vw - 62px);
    margin-bottom: 28px;
    cursor: pointer;
    pointer-events: all;
    background-color:rgba(255, 255, 255, 0.1);
  }
  .productListItem:last-of-type{
    margin-bottom: 0;
  }
  .productListItem:nth-of-type(2n) {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .desktopContainer{
    display: none;
  }
  .mobileContainer{
    padding: 60px;
    display: flex;
  }
}