*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  pointer-events: none;
}
body {
  background-color: #0B0C23;
}
.container{
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #0B0C23;
  /* pointer-events: none; */
}

.productList{
  width: calc(100% - (365px + 365px));
  height: auto;
  margin: 0;
  margin-top: calc(84px + 75px + (48px + 12px) + (33px + 9px) + 2px);
  margin-left: 365px;
  padding: 0;
  list-style-type: none;
}
.productList::after{
  content: '';
  display: block;
  height: calc(100vh - (84px + 75px + (48px + 12px) + (33px + 9px) + (10 * (40px + 13px) - 13px)));
}

.mask{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* pointer-events: none; */
}

header{
  width: 100%;
  height: 84px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #0B0C23;
  pointer-events: all;
}
.centerBlock{
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

footer {
  width: 100%;
  height: 84px;
  background-color: #0B0C23;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  pointer-events: all;
}
.footerIconList{
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}



/* common classes*/
.wraper{
  width: 100%;
  height: 100%;
}
/* ************* */

@media (max-width: 1440px) {
  .productList{
    width: calc(100% - 365px - 90px);
  }
  .productList::after{
    height: calc(100vh - (84px + 75px + (48px + 12px) + (33px + 9px) + (5 * (40px + 13px) - 13px)));
  }
}

@media (max-width: 1024px) {
  .productList::after{
    height: calc(100vh - (84px + 75px + (48px + 12px) + (33px + 9px) + (3 * (40px + 13px) - 13px)));
  }
}

@media (max-width: 895px) {
  .productList{
    width: calc(100% - 365px - 50px);
  }
}

@media (max-width: 768px) {
  header{
    height: 153px;
  }
  .productList{
    width: 100%;
    margin-top: 153px;
    margin-left: 0;
    padding-left: 31px;
    padding-right: 31px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .productList::after{
    display: none;
  }
  footer{
    display: none;
  }
}